.Genres {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(38, 38, 38, 1) 85%,
    rgba(61, 61, 61, 1) 10005%,
    rgba(56, 56, 56, 0.6787757339263831) 1000%
  );
}

.genre {
  padding-bottom: 0.7rem;
}

#collapse-content {
  position: sticky;
  top: 0;
  right: 0;
}

#collapse-content ul {
  padding: 2rem;
  list-style: none;
  font-size: 80%;
}
