.FullMovie{
    background-color: rgb(71, 71, 71);
    padding-top: 1rem;
}

/********** MAIN INFO (headings, text) ********/
.main-info{
    border-left: 2px solid #847f12;
    padding-left: 1%;
}

.FM-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 130%;
}

.tagline{
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 80%;
    color: #837e139e;
}

.card-text{
    font-size: 90%;
}

/********** BG IMG ********/
.bg-image{
    object-fit: cover; 
    max-height: 40rem;
    opacity: 0.1;
}

/********** BASIC INFO ********/
.genres h6{
   font-size: 80%;
}

.runtime{
    display: flex;
    padding-left: 10%;
    padding-top: 0.9rem;
    font-size: 90%;
}

/********** Release date ********/
.release-date{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #847f12;
    font-family: 'Raleway', sans-serif;
    float: left;
    padding-left: 25%;

}

.year{
    padding-left: .5rem;
}

/********** Rater ********/
.react-rater{
    padding: .5rem; 
}

.react-rater-star.is-active {
    color: #847f12;
}

.react-rater-star {
    color: #7d7d7f;
}

      

/************** MEDIA QUERIES ****************/

@media(min-width:425px){
    .bg-image{
        max-height: calc(100vh - 45px);
    }
}

@media(min-width:768px){
    .FullMovie{
        padding-top: 0;
    }

    /********** MAIN INFO (headings, text) ********/
    .main-info{
        position: absolute;
        top: 20%;
        left: 10%;
        text-align: initial;
    }

    .FM-title{
        font-size: 4.5vw;
        text-align: initial;
        max-width: 70%;
        }

    .tagline{
        font-size: 2vw;
    }

    .card-text{
        max-width: 60%; 
        font-size: 1.7vw;
    }

    /********** BASIC INFO ********/
    .genres{
        position: absolute;
        bottom: 1%;
        right: -1%;
    }
    .genres h6{
        writing-mode: vertical-rl;
    }

    .runtime{
        position: absolute;
        top: 15%;
        left: 7%;
        font-size: 1.7vw;
        padding: 0;
    }

    /********** Release date ********/
    .release-date{
        position: absolute;
    top: 13%;
    right: 10%;
    padding-left: 0;
    /* font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #847f12; */
    }

    .date{
        font-size: 5vw;
    }
    .date div:first-child{
        margin-bottom: -0.8rem;
    }
    .year{
     padding-left: 1rem;
    top: 50%;
    left: 50%;
    font-size: 2vw;
    }

    /********** Rater ********/
    .react-rater{
        writing-mode: vertical-rl;
        font-size: 2vw;
        position: absolute;
        top: 20%;
        left: 7%;
        padding: 0; 
    }
}
